.Rproj.user
.Rhistory
.RData
.RDS
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
manuscript/
data/
output/*Model*
output/*Predict*
output/*keras*
output/*Measure*
output/*.pdf
output/*lag*
output/*scales*
output/*id*
output/*deep*.RDS
output/*fukuchi*
output/*bernard*
output/*comb*
output/*pffr*
output/*data_4sets*
